.containerDropdowns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.dropdownContainer {
  position: relative;
  width: fit-content;
  background-color: #1F1F1F;
  border-radius: 10px;
  padding: 1rem;
  width: fit-content;
  cursor: pointer;
}

.dropdownButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdownButton .icon {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

/* Drop-down de Favoritos e Gêneros */
.dropdownContentContainer { 
  padding: 1rem;
  border-radius: 15px;
  width: fit-content;
}

.dropdownContent {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.filme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.filme img {
  border-radius: 8px; 
  width: 105%;
}

.btnsGeneros {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 20%;
  height: 3rem;
  margin: 10px;
  background-color: transparent;
  color: #7899d4;
  border: 2px solid #7899d4;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.8s, color 0.5s;
  white-space: nowrap; 
}
