.section {
    padding: 2rem;
  }
  
  .section h2 {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .section-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-x: auto; 
    padding-bottom: 1rem;
  }
  
  .card {
    position: relative;
    width: 150px;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s;
  }
  
  .card-image {
    width: 120%;
    height: 120%;
    object-fit: cover;
  }
  
  .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    color: white;
    text-align: left;
  }
  
  .card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 0;
  }
  
  .card-rating {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
  
  .card-genre {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #ccc;
  }
  
  .card:hover {
    border-radius: 10px;
  }
  