@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url("/assets/R.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.navinicial {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: 11%;
  height: 30%;
  margin-top: 3%;
  margin-left: 4%;
}


/*FAQ*/

/*Tela de Login*/

/*Tela de Cadastro*/

.containerCadastro{
  display: flex;
  flex-direction: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 7%;
}

.logoTela3{
  width: 20%;
  margin-left: 15%;
}

.tela-cadastro{
  display: flex;
  align-items:flex-start;
  width: 35%;
  height: 65vh;
  margin-left: 5%;
  margin-right: 4%;
  flex-direction: column;
  background-color: #131316;
  border-radius: 20px;
}

.titulo-cadastro{
  display: flex;
  margin-left: 10%;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #fff;
}

.subtitulo-cadastro{
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #fff;
  margin-left: 10%;
}

.inputCadastro{
  display: flex;
  margin-left: 10%;
  margin-top: 1rem;
  width: 80%;
  height: 3rem;
  border-radius: 10px;
  background-color: #131316;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  padding-left: 1rem;
  background-repeat: no-repeat;
  background-position: right 10px center;

}

.btnCadastro {
  background-color: #7899d4;
  color: #fff3f3;
  font-family: "Poppins", sans-serif;
  margin-left: 10%;
  margin-top: 1rem;
  width: 80%;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
  transition: 0.9s;
  cursor: pointer;
  letter-spacing: 1px;
}

.btnLogin:hover {
  background-color: #2c4d86;
}

.btnLogin:active {
  transform: scale(0.6);
}
/* Tela Inicial */

.containerInicial {
  width: 100%;
  height: 100vh;
  background-color: #0d0c0f;
}

.navInicial {
  display: flex;
  height: 23vh;
  width: 100vw;
}

.Logo-inicio {
  display: flex;
  width: 10%;
  height: 30%;
  margin-top: 3%;
  margin-left: 4%;
}

.SingOutBtn {
  display: flex;
  justify-content:end ;
  align-items: center;
  margin-left: 80%;
  height: 80%;
  border: none;
  cursor: pointer;
  background-color: transparent
}

.boasvindas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  color: #fff;
  gap: 1rem;
  margin-top: 5%;
}

.titulo-inicial {
  font-size: 1.4rem;
  width: 40vw;
  text-align: center;
}

.subtitle-inicial {
  font-size: 1rem;
  width: 40vw;
  text-align: center;
}

.btn-iniciar-questionario {
  display: flex;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin-top: 3rem;
  width: 25vw;
  height: 3rem;
  border-radius: 10px;
  font-size: 0.9rem;
  transition: 0.9s;
  cursor: pointer;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: linear-gradient(45deg, #6a4dff, #b187e8, #b187e8);
}

.btn-iniciar-questionario:hover {
  background: linear-gradient(45deg, #7899d4, #f06595, #b187e8);
}

.btn-iniciar-questionario:active {
  transform: scale(0.6);
}

/*Questionario*/
.containerGenero {
  text-align: center;
  padding: 20px;
  background-color: #0d0c0f;
  height: 100vh;
}

.logo-generos {
  display: flex;
  height: 20%;
}

.logo-tela-genero {
  display: flex;
  width: 10%;
  height: 40%;
}

.generos-filmes-fav {
  display: flex;
  justify-content: center;
  height: 10%;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
  flex-direction: column;
}

.generos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
}

.generoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 16%;
  height: 3rem;
  margin: 10px;
  background-color: transparent;
  color: #7899d4;
  border: 2px solid #7899d4;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.8s, color 0.5s;
}

.generoButton.selected {
  background-color: #7899d4;
  color: #ffffff;
}

.generoButton:focus,
.generoButton:hover {
  z-index: 10;
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.proximo {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 20%;
  font-family: "Poppins", sans-serif;
}

.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 2.5rem;
  margin-top: 20px;
  background: linear-gradient(45deg, #6a4dff, #b187e8, #b187e8);
  border: none;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.nextButton:hover {
  background: linear-gradient(45deg, #9b51e0, #7f56da);
}


/* Tela de Perfil do usuário */

/* Navbar */
