@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url("/assets/R.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.navinicial {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: 11%;
  height: 30%;
  margin-top: 3%;
  margin-left: 4%;
}


/*FAQ*/

/*Tela de Login*/

/*Tela de Cadastro*/

/* Tela Inicial */

/*Questionario*/

/* Tela de Perfil do usuário */

/* Navbar */
