.timeline-content {
    background-color: #0d0c0f;
    min-height: 100vh;
  }
  
.pageContainer {
  padding: 20px;
}

.carouselSection {
  margin-bottom: 40px;
}

.sectionTitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}
